body{
    background: #393934;
    color:#FFFFFF
}

/* NAVIGATIION */ 
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #181818;
}

.nav li {
    float: left;
}

.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover:not(.active) {
    background-color: #111;
  }

/* Add a gray right border to all list items, except the last item (last-child) */
.nav li {
    border-right: 1px solid #FFFFFF;
  }
  
.nav li:last-child {
border-right: none;
}

.nav_active {
    background-color: #19D860;
}